<div class="row my-5">
  <div class="col">
    <h1 class="text-center mb-5">글쓰기</h1>
    <form name="frm" method="post">
      <input class="form-control my-2" name="title" placeholder="제목을 입력하세요.">
      <textarea class="form-control" name="body" rows="10" placeholder="내용을 입력하세요."></textarea>
      <div class="text-center my-2">
        <button class="btn btn-primary">글등록</button>
        <button class="btn btn-secondary" type="reset">등록취소</button>
      </div>
    </form>
  </div>
</div>

<script type="module">
  import { app } from"/javascripts/firebase_11_25.js"
  import { getFirestore } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-firestore.js"
  console.log(app)
  const db = getFirestore(app)
  console.log(db)
  const email = localStorage.getItem("email")
  console.log(email)
</script>


<!-- 
1. 제목과 내용을 입력한 후 글등록을 누르면 로그인시 localStorage에 저장된 email과 uid중
이메일 주소를 작성자 컬럼에 추가한다.

2. 로그인을 한 뒤에야 글쓰기를 할 수 있다.
-->