.login {
  width: 32em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a9d8ff;
  border-radius: 30px;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

li {
  margin-bottom: 0.5em;
}

.btnLogin {
  width: 80%;
  height: 2.5em;
  font: 1.2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  outline: 0;
  border: 0.2em solid lightgray;
  color: #b6b5b2;
  &:hover {
    background-color: #51a0e0;
  }
}
