<div class="row my-5">
  <div class="col">
    <%-include('book_11_22/bookList_11_26.ejs')%> <!-- 도서목록 -->
    <br />
    <!-- <%-include('book_11_22/bestBook_11_22.ejs')%>  베스트 도서목록 -->
    <br />
    <!-- <%-include('book_11_22/recentBook_11_22.ejs')%>  최근 도서목록 -->
  </div>
</div>